{% extends "base.html" %}
{% block content %}

    <div class="app">
        <main id="pageMain" tabindex="-1">
            <div class="container">
                <div class="wrap">
                    <h1>Resume Builder</h1>
                     <p class="welcome">Welcome Aboard</p>
                        <div class="welcome-a">
                            <a href="{{ url_for('dashboard_bp.dashboard') }}"><i class="fa fa-dashboard"></i>DASHBOARD</a>
                            <a href="{{ url_for('resume.compose') }}"><i class="fa fa-file-alt"></i> COMPOSE RESUME</a>
                        </div>
                </div>
                <div class="img">
                    <div></div>
                </div>
            </div>
        </main>
    </div>
    
{% endblock %}